/* .header {
  color: #fff;
  background: linear-gradient(to right, #000 54.5%, #57b8ff 0%);
} */
.section1 {
  position: relative;
  padding-top: 210px;
  padding-bottom: 250px;
  color: #fff;
  background: linear-gradient(to right, #000 54.5%, #57b8ff 0%);
}
.s1Wrap {
  position: relative;
  background-image: url('../../img/bg-sec-1.png');
  background-repeat: no-repeat;
  /* background-position: 100% 50%; */
  background-position: 660px 50%;
}
.futureWrap {
  display: flex;
  padding-top: 0px;
}
.futureSpan {
  padding-left: 7px;
  padding-top: 6px;
  color: #57b8ff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 100% */
  text-transform: uppercase;
}
.s1h2 {
  position: relative;
  margin-bottom: 45px;
  padding-top: 15px;
  max-width: 656px;
  color: #fff;
  /* font-family: Orbitron; */
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 86px; /* 119.444% */
  text-transform: capitalize;
}
.underline {
  position: absolute;
  top: 128px;
  left: 218px;
}
.p1 {
  margin-bottom: 52px;
  max-width: 615px;
  color: #999;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.ourTeam {
  padding-left: 41px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.socialUl {
  /* outline: 1px solid coral; */
  position: absolute;
  top: 232px;
  left: -180px;
  /* color: red; */
  display: flex;
  /* flex-direction: column; */
  transform: rotate(-90deg);
}

.socialLi {
  /* min-height: 100px; */
  /* writing-mode: vertical-rl; */
  /* transform: rotate(180deg); */
  color: #80858f;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 250% */
  letter-spacing: 0.7px;
}
/* .socialLi:not(:last-child) {
  margin-right: 60px;
} */
.mr60 {
  margin-right: 60px;
}
.mr50 {
  margin-right: 50px;
}

/* section-2 *************************** */

.section2 {
  background-color: #2a313c;
}

.s2Wrap {
  display: flex;
}

.s2Empty {
  flex-grow: 1;
  font-size: 0;
  /* background-image: url('../../img/character-1.png'); */
}

.s2Content {
  padding-top: 83px;
  /* padding-left: 150px; */
  max-width: 596px;
  /* background-image: url('../../img/character-1.png'); */
}
.s2h2 {
  padding-top: 14px;
  margin-bottom: 39px;
  /* max-width: 656px; */
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.625%;
  text-transform: capitalize;
  /* letter-spacing: 0.1px; */
}

.s2p1 {
  margin-bottom: 52px;
  max-width: 561px;
  color: rgba(223, 223, 223, 0.8);
  /* font-family: Orbitron; */
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.tabs {
  display: flex;
  margin-bottom: 83px;
  overflow-x: scroll;
}

.tab {
  margin-right: 8px;
  padding: 11px 11px 8px 11px;
  min-width: 175px;
  min-height: 104px;
  border-radius: 20px;
  background: #2a313c;
}
.activeTab {
  background-color: #3b3d46;
}
.mr8 {
}
.tab1 {
  /* height: 100%; */
  background-image: url('../../img/character-1.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
}
.tab2 {
  /* height: 100%; */
  background-image: url('../../img/character-2.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
}
.tabImg {
  height: 100%;
  width: 100%;
}
.tab3 {
  height: 100%;
  background-image: url('../../img/character-3.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
}
.tab4 {
  height: 100%;
  background-image: url('../../img/character-4.png');
  background-repeat: no-repeat;
  /* background-size: contain; */
}

/* section-3 *************************** */

.section3 {
  padding-top: 130px;
  padding-bottom: 125px;
  background-color: #000;
}

.s3top {
  display: flex;
  align-items: flex-end;
  margin-bottom: 63px;
}
.s3topLeft {
  margin-right: auto;
}
.s3h2 {
  padding-top: 14px;
  margin-bottom: 3px;
  max-width: 541px;
  color: #fff;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 115.625%;
  text-transform: capitalize;
  /* letter-spacing: 0.1px; */
}

.s3content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-columns: 25% 25% 25% 25%; */
  grid-template-areas:
    'gamepad gamepad gamer pc'
    'gamepad gamepad keyboard eva';
  grid-gap: 24px;
  color: #fff;
}
.gamepad {
  grid-area: gamepad;
  /* padding-top: 515px; */
  /* background-image: url('../../img/gamepad.png');
  background-repeat: no-repeat; */
}
.gamepadImg {
  height: 515px;
  border-radius: 30px;
  background-image: url('../../img/gamepad.png');
  background-repeat: no-repeat;
}
.gamer {
  grid-area: gamer;
}

.gamerImg {
  padding-top: 204px;
  border-radius: 20px;
  background-image: url('../../img/gamer.png');
  background-repeat: no-repeat;
  background-position: 0 10px;
}
.pc {
  grid-area: pc;
}
.pcImg {
  padding-top: 204px;
  border-radius: 20px;
  background-image: url('../../img/pc.png');
  background-repeat: no-repeat;
  background-position: 0 10px;
}
.keyboard {
  grid-area: keyboard;
}
.keyboardImg {
  padding-top: 190px;
  border-radius: 20px;
  background-image: url('../../img/keyboard.png');
  background-repeat: no-repeat;
}
.eva {
  grid-area: eva;
}
.evaImg {
  padding-top: 190px;
  border-radius: 20px;
  background-image: url('../../img/eva.png');
  background-repeat: no-repeat;
}
.datev1 {
  padding-top: 50px;
  color: #57b8ff;
  /* font-family: Orbitron; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.5px;
}
.datev2 {
  padding-left: 1px;
  padding-top: 27px;
  color: #57b8ff;
  /* font-family: Orbitron; */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.4px;
}
.h3v1 {
  padding-top: 30px;
  color: #fff;
  /* font-family: Orbitron; */
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px; /* 127.778% */
  text-transform: capitalize;
}
.h3v2 {
  margin-bottom: 14px;
  padding-top: 20px;
  padding-left: 1px;
  max-width: 290px;
  color: #fff;
  /* font-family: Orbitron; */
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 147.826%;
  text-transform: capitalize;
  /* letter-spacing: 1px; */
}
/* end section-3 *************************** */

@media (max-width: 991px) {
  .s1Wrap {
    background-image: none;
  }
  .futureSpan {
    font-size: 10px;
  }
  .h2 {
    font-size: 48px;
    line-height: 55px;
  }
  .p1 {
    font-size: 12px;
    line-height: 18px;
  }
  .ourTeam {
    font-size: 12px;
    line-height: 155.556%;
  }
}
