.footer {
  padding-top: 132px;
  padding-bottom: 175px;
  background-color: #222730;
}

.wrap {
  display: flex;
  gap: 150px;
  justify-content: start;
}

.p {
  padding-top: 32px;
  max-width: 292px;
  color: #999;
  font-size: 15px;
  line-height: 166.667%;
}
.menuItems {
  padding-left: 2px;
}
.pages {
  padding-left: 55px;
}
.h4 {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 166.667%;
  text-transform: capitalize;
}
.menuItem {
  color: #999;
  font-size: 15px;
  line-height: 245%;
  text-transform: capitalize;
}
